

.container-for-background {
    background: rgb(36,36,79);
    background: radial-gradient(circle, rgba(36,36,79,1) 18%, rgba(32,18,48,1) 59%, rgba(23,22,29,1) 100%);
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    color: white;

    .stars-background {
        position: fixed;
        width: 100%;
        height: 100vh;
        opacity: 50%;
        z-index: 0;
    }

    .main-banner { 

        .astronauta {
            position: absolute;
            object-fit: contain;
            width: 200px;
            height: 480px;
            bottom: -30px;
            right: 10px;
            z-index: 4;
        }
        .planeta {
            position: absolute;
            object-fit: contain;
            width: 400px;
            height: 400px;
            top: -50px;
            rotate: -30deg;

        }
    

        .moon-title {
            width: 100%;
            text-align: center;
            margin-top:20%;
            padding: 15px;
            
            h1 {
                font-size: 270px;
                font-family: "Anurati";
            }
        }
       
        .moon-image {
            position: absolute;
            z-index: 0;
            width: 500px;
            height: 500px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        .main__text-description {
            padding: 15px;
            margin-top: 100px;
            margin-left: 50px;
            h6 {
                font-size: 30px;
            }   
        }

        .text-for-welcome {
            font-size: 30px;
            position: absolute;
            top: 100px;
            left: 50px;
        }
    
    }
    
    .moon-exploration {
        width: 100%;
        height: 100;

        .moon-exploration___title {
            font-size: 30px;
            margin-top: 150px;
            padding: 15px;
            h5 {
                margin-left: 100px;
                font-size: 60px;
            }
        }
        .moon-exploration___img {
        height: 100vh;
        width: 100%;
        position: relative;
        img {
            width: 600px;
            height: 600px;
        }
        }
    }

    .org-info {
        height: 100vh;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;

        .org-info__textContainer {
            width: 70%;
            margin-top: 100px;

            h4 {
                font-size: 30px;
            }
        }

        .org-info__ticketsContainer{
            width: 100%;
            display: flex;
            height: 70vh;
            justify-content: space-around;
            align-items: center;

            .org-info__tickets {
                height: 80%;
                width: 25%;
                border: 1px solid #ffffff89;
                border-radius: 8%;
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 30px;
                h6 {
                    font-size: 18px;
                    margin-bottom: 50px;
                }
                .price { 
                    font-size: 35px;
                    align-self: center;
                    color: #fd9550;
                }
                ul {
                    list-style: none;
                    margin-top: 40px;
                }
                .watch-more {
                    font-size: 20px;
                    margin-top: 20px;
                    align-self:flex-end;
                }
            }
            .ticket1 {
                background: rgb(221,88,0);
                background: linear-gradient(338deg, rgba(221,88,0,1) 0%, rgba(128,57,44,1) 0%, rgba(165,69,26,1) 0%, rgba(83,42,65,1) 22%, rgba(53,31,79,1) 55%, rgba(23,22,29,0.9724264705882353) 96%);
            }
            .ticket2 { 
                background: rgb(221,88,0);
                background: linear-gradient(338deg, rgba(221,88,0,1) 0%, rgba(128,57,44,1) 0%, rgba(165,69,26,1) 0%, rgba(83,42,65,1) 22%, rgba(53,31,79,1) 55%, rgba(23,22,29,0.9724264705882353) 96%);
            }
            .ticket3 {
                background: rgb(221,88,0);
                background: linear-gradient(338deg, rgba(221,88,0,1) 0%, rgba(128,57,44,1) 0%, rgba(165,69,26,1) 0%, rgba(83,42,65,1) 22%, rgba(53,31,79,1) 55%, rgba(23,22,29,0.9724264705882353) 96%);
            }
        }
    }

    .image-gallery {
        margin-top: 100px;
        height: 100vh;
        width: 100%;
        padding: 15px;
        display: flex;
        position: relative;
        flex-direction: column;

        h6 {
            width: 100%;
            font-size: 30px;
            text-align: right;
            padding-right: 100px;
        }
        .image-container {
            margin-top: 50px;
            width: 100%;
            display: flex;
            justify-content: space-around;

            .each-image-container {
                width: 500px;
                height: 500px;
                margin: 10px;
                object-fit: contain;
            }
        }
    }

    .go-to-simulator {
        width: 100%;
        margin: 50px 0;
        text-align: center;
        z-index: 2;
        h3 {
            border: solid 1px ;
            font-size: 30px;
            margin: auto;
            padding: 10px;
            border-radius: 8%;
            width: 30%;
            cursor: pointer;
        }
    }
}

// #201230

// #24244f

// #17161d

// rgb(220, 131, 15