.the-moon-word-space {
    width:130%;
    height: auto;
    align-self: center;
    h4 {
        display: inline;
        font-size: 6vw;
        span {
            font-size: 40px;
        }
    }
    .yellow-moon {
        color: #fd9550;
    }
}